<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Location</servlet-name>
        <servlet-class>no.hin.student.mymapapp.backend.Location</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Location</servlet-name>
        <url-pattern>/Location</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>